.table thead tr {
  background-color: #eeeeee;
}

.table tr td {
  background-clip: padding-box;
  background-color: white !important;
  text-align: left;
  vertical-align: middle;
}

.table tr th {
  text-align: left;
  padding: 0.5rem;
}

.table tr th.sortable-column {
  cursor: pointer;
}

.sortable-column-buttons {
  margin-left: 15px;
  visibility: hidden;
}

.sortable-column:hover .sortable-column-buttons {
  visibility: visible;
}
